.fieldView {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.label {
  /* color: rgba(255, 255, 255, 0.6); */
  color: var(--mantine-color-gray-text);
  line-height: 1rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;

  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-decoration: inherit;
  text-transform: inherit;
}

.value {
  /* color: rgba(255, 255, 255, 0.87); */
  cursor: pointer;

  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-transform: inherit;

  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-decoration: inherit;
  text-transform: inherit;
}

.disableValue {
  /* color: rgba(255, 255, 255, 0.38); */
  pointer-events: none;
}
